name = "hakodateyama-cron"
main = "src/index.ts"
compatibility_date = "2025-01-26"

[triggers]
# JST 10:00-22:00 (UTC 1:00-13:00)
crons = ["0 1-13 * * *"]

[vars]
GITHUB_OWNER = "chihiro-adachi"
GITHUB_REPO = "hakodateyama-now"
WORKFLOW_ID = "fetch-status.yml"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
